
* {
   
    font-family: hack;

     }

h3 {
    text-align: left;
    margin: auto;
    padding: 0 0 0 2px;
    display: block;
}

.phone {
    text-align: right;
    display: flex;
    font-family: hack;
    
}

.header-container {
    display: block;
    float: center;
    margin: auto;
}


.container, a, {
    font-family: hack;
    width: 100%;
    float: left;
    display: block;
    margin: auto;

}

.image-container {

    opacity: 88%;
    float: left;
    margin: auto;
    display: block;
    padding: 0 2px 0 0; 

}

.right-container {
    display: inline-block;
    float: left:
    margin: auto;
    width: 100%
}

.foot-container {
    display: inline-block;
    width: 100%;
    margin: auto;
}

