html {

    font-family: hack;
    margin: auto;
    padding: 2% 4% 4% 4%;
    text-align: left;
    float: left;
    border-style: solid double double double;
    opacity: 98%;
    display: inline-block;
    
 }

 header {
     width: 100%;
     margin: auto;
 }

 a {
     text-decoration: none;
     color: black;
     border-style: double double solid solid;
     padding: 2px 2px 2px 2px;
     margin: auto;
 }

 .field-container {
      margin: auto;
      padding: auto;
      text-align: left;
      float: center;
      display: fixed;
 }

 input {
     float: right;
     width: 100%;
     margin: auto;
 }


 .label-container {
     text-align: left;
     float: center;
     display: block;
     
 }
