.container {

    font-family: hack;
    text-align: space-around;
    margin: auto;
    padding: auto;
    text-decoration: none;
    color: black;


}

.home:hover {
    color: orange;
    opacity: 70%;
}

.button {

    float: space-around;
    text-align: center;

}

*:hover {
    border-style: solid double;
    text-align: space-around;
    float: center; 
    opacity: 60%;
    color: orange;
}

